body
  height: 100%
  max-width: 90%
  font-family: 'Source Sans Pro', sans-serif
  background-color: #EFEFEF
  color: #4A4A4A
  margin: auto;

form
    text-align: left

input
    margin-bottom: 2%
    width: 10%
    height: auto
    padding: .75em
    border-width: 1px
    border-style: solid
    border-color: #eaeaea
    border-radius: 2px
    font-size: 90%

h1
    text-align: left
    vertical-align: middle

h2
  font-weight: 600;
  color: #17223B;
  
h3
  font-weight: 600;
  color: #17223B;

h4 
  font-weight: 600;
  color: #17223B;


p
    text-align: left
    vertical-align: middle


.btn-primary 
  background-color: #FFD700
  border: 1px solid #FFD700
  color: #4A4A4A

.btn:hover 
  background-color: #3454D1


.btn-primary:hover 
  background-color: rgba(255, 215, 0, 0.7)
  border: 1px solid rgba(255, 215, 0, 0.7)


.formBorder
    margin: auto;
    background: white
    width: 80%
    padding: 5em 6em
    display: block

a
    text-decoration: none;
    color: #4A4A4A

.createAcc
    color: #3454D1



@media screen and (max-width: 500px)
    body
        background: green